html{
	background: rgb(0,0,140);
}
.prof-box-world {
	max-width: 1200px;
	min-height: 100px;
	background: rgb(0,0,0);
	padding: 60px;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	overflow: hidden;
}
#navmenu ul {margin: 0; padding: 0; justify-content: space-around;
	display: flex;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19px;
	list-style-type: none; list-style-image: none;}
#navmenu li {display: inline; flex: 0 1 auto;}
.completed_challenges{
	float: left; 
	width: 33%;
	min-height: 300px;
	max-height: 300px;
}
.running_challenges{ 
	float: left;
	width: 33%;
	min-height: 300px;
	max-height: 300px;
}
.failed_challenges{
	float: left;
	width: 33%;
	min-height: 300px;
	max-height: 300px;
}
#marquee-challenges{
	margin-top: 20px;
}
#terminal-text{
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19px;
	color: #33ff33;
}
.social-icons{
	margin-top: 60px;
	font-size: 20px;
}
.social-icons a{
	color: orange;
	padding: 20px;
}
a{
	color: #ffb000;
}
h1{
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19px;
	color: #33ff33;
	/*
	font-weight: 100;
	letter-spacing: 6;
	font-size: 30px;
	color: #33ff33;
	*/
}
p{
	/*font-weight: 200px;
	letter-spacing: 0;
	font-size: 17px;
	color: #33ff33;
	font: Lucida Console;
	*/
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19px;
	color: #33ff33;
}
.line-break{
	width: 300px;
	margin: 0 auto;
	border-top: 1px solid white;
}
#challenge-p{
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19px;
	color: #33ff33;
	text-align: left;
}